@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i&display=swap);
















body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Roboto', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
.btn {
  font-family: 'Roboto', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Roboto', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #bb412e !important;
}
.bg-success {
  background-color: #1e7c3a !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ffd785 !important;
}
.bg-danger {
  background-color: #ff9685 !important;
}
.btn-primary {
  background-color: #bb412e;
  border-color: #bb412e;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #7e2c1f;
  border-color: #7e2c1f;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}
.btn-secondary {
  background-color: #a25dae;
  border-color: #a25dae;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #763f7f;
  border-color: #763f7f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #763f7f !important;
  border-color: #763f7f !important;
}
.btn-info {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success {
  background-color: #1e7c3a;
  border-color: #1e7c3a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0f3e1d;
  border-color: #0f3e1d;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0f3e1d !important;
  border-color: #0f3e1d !important;
}
.btn-warning {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-danger {
  background-color: #ff9685;
  border-color: #ff9685;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ff5438;
  border-color: #ff5438;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5438 !important;
  border-color: #ff5438 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #69251a;
  color: #69251a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #bb412e;
  border-color: #bb412e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #bb412e !important;
  border-color: #bb412e !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #66376e;
  color: #66376e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #a25dae;
  border-color: #a25dae;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #a25dae !important;
  border-color: #a25dae !important;
}
.btn-info-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline {
  background: none;
  border-color: #0a2a14;
  color: #0a2a14;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #1e7c3a;
  border-color: #1e7c3a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1e7c3a !important;
  border-color: #1e7c3a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ff3e1f;
  color: #ff3e1f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ff9685;
  border-color: #ff9685;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9685 !important;
  border-color: #ff9685 !important;
}
.text-primary {
  color: #bb412e !important;
}
.text-success {
  color: #1e7c3a !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #ffd785 !important;
}
.text-danger {
  color: #ff9685 !important;
}
.alert-success {
  background-color: #1e7c3a;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #ffd785;
}
.alert-danger {
  background-color: #ff9685;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #bb412e;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #bb412e;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #bb412e;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #bb412e;
}
.lead a,
.lead a:hover {
  color: #bb412e;
}
.lead blockquote {
  border-color: #bb412e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e19387;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #47d271;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
.scrollToTop_wraper {
  display: none;
}
/* DirectM */
a {
  color: #ffffff;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #bb412e;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #bb412e;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #bb412e;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Roboto', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #bb412e;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #9e3727, #bb412e, #d25c4a);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #bb412e !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #bb412e;
}
.tabs1 .colorBG {
  background-color: #bb412e;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #bb412e;
}
.content4 p {
  border-bottom: 3px solid #bb412e;
  border-top: 3px solid #bb412e;
}
/*follow1*/
.follow1 .btn-social {
  color: #bb412e;
  border-color: #bb412e;
}
.follow1 .btn-social:hover {
  color: #d25c4a;
  background: rgba(187, 65, 46, 0.1);
  border-color: #d25c4a;
}
/*share1*/
.share1 .btn-social {
  color: #bb412e;
  border-color: #bb412e;
}
.share1 .btn-social:hover {
  color: #d25c4a;
  background: rgba(187, 65, 46, 0.1);
  border-color: #d25c4a;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #bb412e;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Roboto', serif;
}
.mbr-gallery-filter li {
  color: #ffffff;
}
.btn-empty:focus {
  color: #bb412e;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #ffffff;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #bb412e;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #bb412e;
}
.hamburger-icon {
  background-color: #bb412e !important;
}
.hamburger-icon:before {
  background-color: #bb412e;
}
.hamburger-icon:after {
  background-color: #bb412e;
}
#header4-a .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-a .mbr-table-cell {
  vertical-align: middle;
}
#header4-a .heading-text {
  font-family: 'Roboto', sans-serif;
  color: #dddddd;
  font-size: 22px;
}
#header4-a .heading-title {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}
#header4-a .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#features13-15 {
  
  /* xs */
  /* sm */
  /* md */
  /* lg */
}
#features13-15 .mbr-iconfont {
  color: #bb412e;
  border-color: #bb412e;
}
#features13-15 .mbr-iconfont {
  color: #bb412e;
  border-color: #bb412e;
}
#features13-15 .card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
#features13-15 img {
  width: 130px;
  vertical-align: middle;
  display: inline-block;
}
#features13-15 .card-img {
  line-height: 130px;
}
@media (min-width: 768px) {
  #features13-15 .card-img {
    height: 100px;
    line-height: 100px;
  }
  #features13-15 .img-rs {
    width: 100px;
  }
  #features13-15 .img-fa {
    width: 150px;
  }
}
@media (min-width: 992px) {
  #features13-15 .card-img {
    height: 200px;
    line-height: 200px;
  }
  #features13-15 .img-rs {
    width: 160px;
  }
  #features13-15 .img-fa {
    width: 220px;
  }
}
@media (min-width: 1200px) {
  #features13-15 .card-img {
    height: 250px;
    line-height: 250px;
  }
  #features13-15 .img-rs {
    width: 210px;
  }
  #features13-15 .img-fa {
    width: 280px;
  }
}
#content3-1c .mbr-section-title,
#content3-1c .mbr-section-subtitle {
  text-align: center;
}
#content3-h .mbr-section-title,
#content3-h .mbr-section-subtitle {
  text-align: center;
}
#content3-h P {
  font-family: 'Roboto', sans-serif;
}
#content3-h H1 {
  text-align: right;
  font-size: 46px;
}
#content1-g P {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}
#features18-l .card .mbr-iconfont {
  color: #dddddd;
  border-color: #dddddd;
}
#features18-l .mbr-table-cell {
  vertical-align: middle;
}
#features18-l .heading-title {
  text-align: center;
  font-size: 24px;
  color: #000000;
}
#features18-l .card-title {
  font-family: 'Roboto', sans-serif;
  color: #424242;
  font-size: 19px;
}
#features18-l SPAN {
  color: #8acdbc;
}
#content1-m P {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}
#buttons1-i .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#accordion1-c H1 {
  font-size: 46px;
}
#accordion1-c P {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}
#content3-1b .mbr-section-title,
#content3-1b .mbr-section-subtitle {
  text-align: center;
}
#form1-19 .form {
  background: #eeeeee;
}
#form1-19 .heading-title {
  color: #ffffff;
  font-size: 46px;
}
#form1-19 .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#form1-19 .form-title {
  font-size: 46px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#footer4-5 {
  
}
#footer4-5 p {
  color: #000;
}
#footer4-5 P {
  color: #dddddd;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
#menu2-7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-7 .navbar-toggler {
  color: #dddddd;
}
#menu2-7 .close-icon::before,
#menu2-7 .close-icon::after {
  background-color: #dddddd;
}
#menu2-7 .link,
#menu2-7 .dropdown-item {
  color: #dddddd;
  font-family: 'Roboto', sans-serif;
}
#menu2-7 .link {
  font-size: 1.15rem;
}
#menu2-7 .dropdown-item,
#menu2-7 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu2-7 .link:hover,
#menu2-7 .link:focus {
  color: #ffffff;
}
#menu2-7 .dropdown-item:hover::before,
#menu2-7 .dropdown-item:focus::before {
  background: #ffffff;
}
#menu2-7 .dropdown-item:hover,
#menu2-7 .dropdown-item:focus {
  color: #dddddd;
}
#menu2-7 .link[aria-expanded="true"],
#menu2-7 .dropdown-menu {
  background: #005b66;
}
#menu2-7 .nav-dropdown-sm .link:focus,
#menu2-7 .nav-dropdown-sm .link:hover,
#menu2-7 .nav-dropdown-sm .dropdown-item:focus,
#menu2-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #004d57!important;
}
#menu2-7 .navbar,
#menu2-7 .nav-dropdown-sm,
#menu2-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-7 .nav-dropdown-sm .dropdown-menu {
  background: #005b66;
}
#menu2-7 .bg-color.transparent .link {
  color: #dddddd;
  transition: none;
}
#menu2-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-7 .bg-color.transparent.opened .link:hover,
#menu2-7 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu2-7 .link[aria-expanded="true"],
#menu2-7 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#menu2-7 .navbar-caption {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
